.header_top{
  height: 80px;
  line-height: 80px;
}
.header_top img{
  height: 30px;
}

.header_top i{
  font-size: 30px;
  color: #006AFF;
  line-height: 80px;
}

.menu{
  display: none;
}
.menu span{
  display: inline-block;
}
.menu span:nth-of-type(2){
  margin: 0 20px;
}
.menu .my-btn{
  margin-left: 20px;
  color: #006AFF;
  border: 1px solid #006AFF;
}



.header_bottom{
  height: 30vh;
  background: blue;
}


@media screen and (min-width: 1200px){

  .menu{
    display: block;
  }

  .burger{
    display: none;
  }

}
