body{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  /* color: #756992; */
  color: #5b6987;
}

h2{
  color: black;
  font-weight: 700;
  margin-top: 0;
}
h4{
  color: black;
  font-weight: 700;
}

h5{
  margin-top: 0;
}

/* HEADER_TOP */
.header_top{
  height: 80px;
  line-height: 80px;
}
.header_top img{
  height: 30px;
}

.header_top i{
  font-size: 30px;
  color: #006AFF;
  line-height: 80px;
}

.menu{
  display: none;
}
.menu a{
  display: inline-block;
  color: black;
  margin-right: 20px;
}
.menu a:hover{
  color: #006AFF;
  text-decoration: none;
}

.menu i{
  font-size: 16px;
  color: grey;
}

.menu .my-btn{
  color: #006AFF;
  border: 1px solid #006AFF;
}
.my-btn:hover{
  background: #006AFF;
  color: white;
}
/* /HEADER_TOP */

/* HEADER_BOTTOM */
.header_bottom{
  background-image: url("../img/animated.svg");
  background-position: bottom;
  background-size: cover;
  color: white;
  padding: 60px 0;
}

.box{
  padding: 1px 0;
  background: white;
  color: #031B4E;
}
.box h3{
  font-weight: 700;
}
.box #start{
  color: #006AFF;
}

.my-input{
  width: 90%;
  margin: auto;
}

.my-btnV2{
  width: 90%;
  margin: 5px auto;
  background: #006AFF;
  color: white;
  font-weight: 700;
}
.my-btnV2:hover{
  background: #1633FF;
  color: white;
}

#google{
  display: block;
  font-size: 14px;
  font-weight: 700;
  width: 90%;
  margin: 5px auto 15px;
  padding: 6px 12px;
  border: 1px solid grey;
  border-radius: 4px;
  position: relative;
}
#google a{
    text-decoration: none;
    color: grey;
}
#google img{
  height: 18px;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}
#google:hover{
  border: 1px solid #006AFF;
  background: lightgrey;
  cursor: pointer;
}
#google:hover a{
  color: #006AFF;
}

.header_bottom p{
  font-size: 14px;
}
.header_bottom p a{
  text-decoration: none;
  color: #006AFF;
}
/* /HEADER_BOTTOM */

/* LOGOS */
.logos{
  background: #F3F5F9;
  padding: 40px 0;
}
.logos h5{
  font-weight: 700;
  color: grey;
}

.logos img{
  width: 100%;
  height: 150px;
}

.link{
  display: inline-block;
  width: 100%;
  font-weight: 700;
}
.link i{
  padding-left: 5px;
}
.link a:hover{
  text-decoration: none;
  color: #1633FF;
}
/* /LOGOS */

/* DEPLOY */
.deploy{
  padding: 50px 0;
  color: #756992;
}

.deploy p{
  margin-bottom: 40px;
}

.border{
  border-left: 3px solid lightgrey;
  padding-left: 5px;
}

.border span{
  display: block;
  color: #948E98;
}
.border span:not(:last-child){
  margin-bottom: 15px;
}

.info{
  font-size: 14px;
}

.info.no-margin{
  margin-bottom: 0;
}


.deploy img{
  height: 38px;
}
/* /DEPLOY */

/* DEVELOPERS */
.developers{
  background: #F3F5F9;
  padding: 40px 0;
}

.developers p{
  margin: 20px 0 40px;
}

.developers img{
  width: 50%;
}

.developers i{
  font-size: 30px;
  padding: 0 30px;
}

.developers #servers{
  font-size: 14px;
  font-weight: bold;
  margin: 20px 0 10px;
}

.circle{
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #006AFF;
}
.circle:first-of-type{
  background: #006AFF;
}
/* /DEVELOPERS */

/* FEATURE */
.feature{
  padding: 60px 0;
}

.feature h2{
  margin-bottom: 20px;
}

.feature img{
  margin-top: 15px;
}

.feature p{
  margin-bottom: 0;
}
/* /FEATURE */

/* SERVICE */
.service{
  background-image: url('../img/bg-map.svg');
  background-color: #031B4E;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 50px 0 30px;
}
.service h2{
  color: white;
  margin-bottom: 40px;
}

.service a{
  color: #02d7d6;
}
.service a:hover{
  text-decoration: none;
  color: #122DEF;
}

.first-block{
  margin-bottom: 20px;
}

.border_bottom{
  border-bottom: 1px solid white;
  padding: 5px 15px;
}
.border_bottom.different{
  border: 0;
}
/* /SERVICE */

/* ROCKERBOX */
.rockerbox{
  background: #F3F5F9;
  padding: 50px 0;
}

.rockerbox .aside{
  font-size: 30px;
  padding: 0 20px;
  vertical-align: top;
  line-height: 233px;
}

.rockerbox-container{
  display: inline-block;
  padding-top: 20px;
  background: white;
  width: 40%;
  margin: auto;
}

.rockerbox img{
  width: 50%;
}

.rockerbox h2{
  margin-bottom: 40px;
}

.rockerbox p{
  margin-top: 20px;
}

.author{
  font-weight: 700;
  color: black;
  font-size: 14px;
}

.role, .read{
  padding-bottom: 20px;
  font-size: 12px;
}

.circle-container{
  padding-top: 20px;
}
/* /ROCKERBOX */

/* GET STARTED */
.get-started{
  background: #0164FF;
  padding: 40px 0;
}

.get-started h2{
  color: white;
}

.my-btn-V2{
  margin-top: 15px;
  color: #006AFF;
  border: 1px solid #006AFF;
  padding: 10px 20px;
}
.my-btn-V2:hover{
  background: #CBD4E4;
  color: #006AFF;
}
/* /GET STARTED */


footer{
  background: #010E28;
  padding: 40px 0;
}

.copyright{
  margin-top: 10px;
}

.made{
  font-size: 14px;
}

.social{
  margin: 15px 0;
}
.social i{
  font-size: 20px;
  margin-right: 10px;
}

footer h5{
  font-weight: 700;
  color: white;
}

footer ul{
  list-style: none;
  padding-left: 0;
}

footer a{
  color: #5b6987;
}
footer a:hover{
  color: white;
  text-decoration: none;
}

.margin{
  margin-top: 20px;
}


@media screen and (min-width: 1200px){

  .menu{
    display: block;
  }

  .burger{
    display: none;
  }

}

@media screen and (max-width: 992px){

  #title{
    margin-top: 0;
  }

  .logos img{
    height: 125px;
  }

  .border{
    /* margin-left: 15px; */
    margin-bottom: 40px;
  }

  .developers p,
  .developers #servers{
    margin-bottom: 60px;
  }

  .info.no-margin{
    margin-bottom: 40px;
  }

}

@media screen and (max-width: 768px){

  .logos img{
    height: 125px;
  }

  .developers i{
    font-size: 20px;
    padding: 0 20px;
  }

  .rockerbox img{
    width: 80%;
  }


}
